{% extends "base.html" %}
{% block head_title %}Logical Groups | {{ block.super}}{% endblock head_title %}
{% block content %}
<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Logical Group list - <a href='{% url "extend:createlogicalgroup" %}'>Add</a></th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <td><a href="{{ obj.get_absolute_url }}" class="navbar-link">{{ obj.shortname }}</a></td>
        <td>{{ obj.exid }}</td>
        <td><a href="{{ obj.get_absolute_url_edit }}" class="navbar-link">edit</a></td>
    </tr>
    {% empty %}
    <tr>
    <td><a href='{% url "extend:createlogicalgroup" %}'>Add One</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
