{% extends "base.html" %}

{% block head_title %}Roles | {{ block.super}}{% endblock head_title %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ object.title }} <small> <a href='{{ object.get_absolute_url_edit }}'>{{ object.desc }}</a></small></h1>
    <ul class="list-group">
        <li class="list-group-item">{{ object.shortname }}</li>
        <li class="list-group-item">{{ object.exid }}</li>
        <li class="list-group-item">{{ object.slug }}</li>
    </ul>
</div>
{% endblock %}