{% extends "base.html" %}
{% block head_title %}{{ object.title }} | {{ block.super}}{% endblock head_title %}
{% block content %}
{% include 'snippets/detail_top.html' %}
        <li class="list-group-item"><b>File Name:</b> {{ object.shortname }}</li>
        <li class="list-group-item"><b>Role :</b> {{ object.role }}</li>
        <li class="list-group-item"><b>Slug:</b> {{ object.slug }}</li>
        <li class="list-group-item"><b>Source File on github:</b>
            /ilanh/elanman/master/roles/common/templates/{{ object.shortname }}.yaml.j2
            <a href="https://raw.githubusercontent.com/ilanh/elanman/master/roles/common/templates/{{ object.shortname }}.yaml.j2" target="_blank">Open in new tab</a>
        </li>
{% include 'snippets/detail_bottom.html' %}
{% endblock %}
